
#greeter.Info
{
	margin-top: 0.2%;
}

#section-info.Info
{
	/*height: 85%;*/
}
/*
@media screen and (max-width: 1000px)
{
	#section-info.Info
	{
		height: 77%;
	}
}
*/
#button-info.Info
{
	bottom: -5em;
}

#button-overview.Info
{
	bottom: 0em;
}


