
#wallpaper
{
    opacity: 1.0;
    /* This is to set up the backup color (white) and the background image for the webapp */
    background: #FFFFFF url("../config/wallpapers/background.jpg");
    /* no-repeat is to make sure that if the web page scrolls, then the image will persist instead of being scrolled over */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* This block of css is to have the background image cover the entirety of the container 
     and center it if the image length is greater than the webapp's length. */
    background-size: cover;
    background-position: center;
    /* This block of css is to ensure that the container keep spreads over the entire webpage */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /* z-index is set to -9999 to make sure that the contents always stay at the back of the webpage to prevent obstruction */
    z-index: -9999;
}

body 
{
	position: fixed;

	margin: 0%;
	padding: 0%;

	width: 100%;
	height: 100%;

    background: none;
    font-family: "Monospace";
    font-weight: bold;
    color: white;
    text-shadow: 0px 1px #CCCCCC
}

/* start of greeter section */

#greeter
{
	position: fixed;

	text-align: center;

	left: 0;

	top: 15%;

	width: 100%;

	margin-top: 5px;
	margin-bottom: 5px;

	font-size: 0px;
	
}

#greeter.Info
{
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	top: 0%;
}

#greeter.Overview
{
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	top: 15%;
}

#greeter-clock
{
	margin: 0.1%;
}

#greeter-clock > span
{
	font-size: 5vw;
	text-align: center;
}

#greeter-message
{
	margin: 0.1%;
}

#greeter-message > span
{
	font-size: 2vw;
	text-align: center;
}

@media screen and (max-width: 800px)
{
    #greeter-clock > span
    {
        font-size: 10vw;

        text-align: center;
    }

    #greeter-message > span
    {
        font-size: 5vw;
    }
}

/* end of greeter section */

/* start of button-info section */

#button-info
{
	position: fixed;

	text-align: center;

	left: 0px;
	bottom: 0px;

	width: 100%;

	margin-top: 5px;
	margin-bottom: 5px;

}

#button-info.Info
{
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	bottom: -5em;
}

#button-info.Overview
{
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	bottom: 0em;
}

#button-goto-info
{
	border-radius: 4px;

	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;

	background-color: black;
	color: white;
	border: 2px solid #f44336;
}

#button-goto-info:hover
{
	background-color: #f44336;
	color: black;
}

/* end of button-info section */

