
body
{
	font-family: "Monospace";
	font-weight: bold;
	
	border: 1px solid red;
}

#notes-container
{
	border: 5px solid orange;
}

.notes-item-container
{
	border: 5px solid lightblue;

	padding-top: 10px;
	padding-bottom: 10px;

	padding-left: 10px;
	padding-right: 10px;

	margin-top: 2.5px;
	margin-bottom: 2.5px;
}

.notes-item-header
{
	/*border: 2px solid orange;*/

	display: flex;

}

.notes-item-header > h3
{
	margin: 0%;

	flex-grow: 8;
}

.notes-item-header > button
{
	text-decoration: none;

	border: none;

	background-color: dodgerblue;

}

.notes-item-body
{
	/*border: 2px solid lightgreen;*/
}

.notes-item-body > p
{
	margin: 0%;

	overflow-y: auto;

	max-height: 10em;
}

.notes-item-gutter
{
	/*border: 2px solid lightpink;*/

	margin-top: 10px;

}

#buttons-container
{
	
	display: flex;
	border: 1px solid green;

	margin-left: -10px;
	margin-right: -10px;

}

#buttons-container > button
{

	margin-left: 10px;
	margin-right: 10px;

	background-color: dodgerblue;

}


