
#greeter.Overview
{
	margin-top: 15%;
}

#section-info.Overview
{
	height: 0%;
}
/*
@media screen and (max-width: 1000px)
{
	#section-info.Overview
	{
		height: 0%;
	}
}
*/
#button-info.Overview
{
	bottom: 0em;
}

#button-overview.Overview
{
	bottom: -5em;
}
